
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- Hero Start -->
<div id="home">
    @Html.Action("DefaultHero", "Default")
</div>
<!-- Hero End -->
<!-- About Start -->
<div id="about">
    @Html.Action("DefaultAbout", "Default")
</div>
<!-- About End -->
<!-- Services Start -->
<div id="services">
    @Html.Action("DefaultServices", "Default")
</div>
<!-- Services End -->
<!-- Appointment Start -->
<div id="appointment">
    @Html.Action("DefaultAppointment", "Default")
</div>
<!-- Appointment End -->
<!-- Pricing Plan Start -->
<div id="pricing">
    @Html.Action("DefaultPricing", "Default")
</div>
<!-- Pricing Plan End -->
<!-- Team Start -->
<div id="team">
    @Html.Action("DefaultTeam", "Default")
</div>
<!-- Team End -->
<!-- Search Start -->
<div id="search">
    @Html.Action("DefaultSearch", "Default")
</div>
<!-- Search End -->
<!-- Testimonial Start -->
<div id="testimonial">
    @Html.Action("DefaultTestimonial", "Default")
</div>
<!-- Testimonial End -->
